[submodule "lib/yaml-cpp"]
	path = vendor/riscv/riscv-isa-sim/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:synthara/riscv-opcodes.git
[submodule "cv32e20"]
	path = cv32e20
	url = git@github.com:synthara/cv32e20-dv.git
[submodule "core-v-cores/cv32e20"]
	path = core-v-cores/cv32e20
	url = git@github.com:synthara/rv2.git
